ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed li {
  text-indent: -5px;
}
ul.dashed li:before {
  content: "-";
  text-indent: -5px;
}

body {
  line-height: 1;
  min-height: var(--viewport-height);
  min-width: 320px;
  overflow-x: hidden;
  word-wrap: break-word;
  background-color: #E6B79D;
  -webkit-text-size-adjust: none
}

section {
  display: block;
}